<div class="container-fluid p-0">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">Blogify</a>
      <div class="navbar-right">
        <div *ngIf="!loggedIn">
          <asl-google-signin-button (signInStatus)="signInWithGoogle()"></asl-google-signin-button>
        </div>
        <button *ngIf="!loggedIn" class="nav-link btn login-btn" (click)="onFacebookLoginClick()">Login with Facebook</button>
        <div *ngIf="loggedIn" class="user-info">
          <img [src]="sanitizedPhotoUrl" alt="User Image" class="user-image">
          <span class="nav-link user-name">{{ user?.name }}</span>
          <button class="nav-link btn logout-btn" (click)="signOut()">Logout</button>
          <button class="nav-link btn create-post-btn" (click)="createPostComponent.openModal()">Create Post</button>
        </div>
      </div>
    </div>
  </nav>
</div>

<app-create-post #createPostComponent (postCreated)="onPostCreated()"></app-create-post>

<router-outlet></router-outlet>
